{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "singleQuote": true,
  "printWidth": 80,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "parser": "typescript",
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": ["^@", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}